MessageServiceClient/MessageServiceClient/Connected Services/MService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataComm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataComm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_Taken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:int" />
      <xs:element minOccurs="0" name="Delivered" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mid" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Read" type="xs:int" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sent_From" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>