MessageServiceClient/MessageServiceClient/Connected Services/MService/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMessageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataComm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_DeleteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetDeletedMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeletedMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetDeletedMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeletedMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetNewMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetNewMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IMessageService_MarkDelivered_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkDelivered" />
  </wsdl:message>
  <wsdl:message name="IMessageService_MarkNotDelivered_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkNotDelivered" />
  </wsdl:message>
  <wsdl:message name="IMessageService_MarkNotRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkNotRead" />
  </wsdl:message>
  <wsdl:message name="IMessageService_MarkRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkRead" />
  </wsdl:message>
  <wsdl:message name="IMessageService_RestoreMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="DeleteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/DeleteMessage" message="tns:IMessageService_DeleteMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetAllMessages" message="tns:IMessageService_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetAllMessagesResponse" message="tns:IMessageService_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeletedMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetDeletedMessages" message="tns:IMessageService_GetDeletedMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetDeletedMessagesResponse" message="tns:IMessageService_GetDeletedMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetNewMessages" message="tns:IMessageService_GetNewMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetNewMessagesResponse" message="tns:IMessageService_GetNewMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/Join" message="tns:IMessageService_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/Leave" message="tns:IMessageService_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkDelivered">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/MarkDelivered" message="tns:IMessageService_MarkDelivered_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkNotDelivered">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/MarkNotDelivered" message="tns:IMessageService_MarkNotDelivered_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkNotRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/MarkNotRead" message="tns:IMessageService_MarkNotRead_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/MarkRead" message="tns:IMessageService_MarkRead_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/RestoreMessage" message="tns:IMessageService_RestoreMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/SendMessage" message="tns:IMessageService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/RecieveMessage" message="tns:IMessageService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMessageService" type="tns:IMessageService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMessageService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/DeleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/GetAllMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeletedMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/GetDeletedMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/GetNewMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MarkDelivered">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/MarkDelivered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MarkNotDelivered">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/MarkNotDelivered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MarkNotRead">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/MarkNotRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MarkRead">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/MarkRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RestoreMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/RestoreMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessageService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="NetTcpBinding_IMessageService" binding="tns:NetTcpBinding_IMessageService">
      <soap12:address location="net.tcp://localhost:8090/MessageService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/MessageService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JAMES-DESKTOP\James</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>